// General styling

@use '../variables/default';
@use '../variables/color';

html,
body {
  color: default.$font-color-dark;
  font-family: default.$font-family;
  font-size: default.$font-size;
  font-weight: default.$font-weight;
  line-height: 1.4;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: default.$font-color-dark;
  display: inline-block;
  text-decoration: underline;

  &:hover,
  &:focus {
    background-color: color.$green-logo-dark;
    color: default.$font-color-light;
  }
}

.site-logo {
  display: inline-block;
  height: 65px;
  max-width: 250px;

  img {
    width: auto;
    height: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.9;
    background: transparent;
  }
}

#block-padel365-site-branding {
  display: flex;
  align-items: center;
  height: 65px;
}
