// General styling

@use '../variables/default';

html,
body {
  color: default.$font-color-dark;
  font-family: default.$font-family;
  font-size: default.$font-size;
  font-weight: default.$font-weight;
  line-height: 1.4;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  text-decoration: underline;
}

a:active,
a:hover {
  text-decoration: none;
}

.site-logo {
  display: inline-block;
  height: 65px;
  max-width: 250px;

  img {
    width: auto;
    height: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

#block-padel365-site-branding {
  display: inline-block;
  height: 65px;
}
