@use '../variables/default';

// 1400px and margin

@media only screen and (max-width: default.$center-breakpoint) {
  // Layout
  
  .center {
    width: auto;
    margin-left: default.$size-6;
    margin-right: default.$size-6;
  }

  // Spacing
  
  .spacing > * {
    margin-top: default.$size-4;

    &:first-child {
      margin-top: 0;
    }
  }

  .spacing.spacing--small > * {
    margin-top: default.$size-3;

    &:first-child {
      margin-top: 0;
    }
  }
}

// 920px and margin

@media only screen and (max-width: default.$center-small-breakpoint) {
  // Layout
  
  .center {
    width: auto;
    margin-left: default.$size-4;
    margin-right: default.$size-4;
  }

  // EU Cookie Compliance Banner
  
  .sliding-popup-bottom {
    .eu-cookie-compliance-banner {
      h2 {
        font-size: 1.375rem;
      }
    }

    .eu-cookie-compliance-message {
      max-width: 100%;
    }

    .eu-cookie-compliance-buttons {
      max-width: 100%;
    }
  }

  // Site logo

  header .header-wrapper {
    height: 85px;

    .site-logo {
      height: 50px;
    }
  }

}
