@use '../variables/default';
@use '../variables/color';

img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  &.site-header {
    background-color: #fafafa;
    display: block;
  }
  .header-wrapper {
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;

    @media screen and (max-width: default.$center-small-breakpoint) {
      justify-content: space-between;
    }
  
  }
}

// Main menu

.main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  @media screen and (max-width: default.$center-small-breakpoint) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;

    li {
      margin-right: default.$size-4;

      &:last-child {
        border: 1px solid transparent;
        border-radius: 5px;
        display: flex;
        height: 40px;
        width: auto;
        min-width: 135px;
        justify-content: center;
        align-items: center;
        background-color: color.$green-logo-dark;
        padding: 0 10px;

        &:hover {
          background-color: darken(color.$green-logo-dark, 10%);
        }

        a {
          color: color.$whiteish;
          background: transparent;
        }
      }

      a {
        color: color.$midnight-black;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 5px;

        &:hover {
          color: color.$whiteish;
          padding: 0 5px;
        }
      }
    }
  }
}

// Cheeseburger menu
.block-cheeseburgermenu-container {
  background-color: color.$midnight-black;
  width: 100%;

  .cheeseburger-menu__main-navigation-area {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        display: inline-block;

        a {
          min-height: unset;
          margin-bottom: 30px;
          padding: 0 5px;
          display: inline-block;
        }

        &:last-child {
          border: 1px solid transparent;
          border-radius: 5px;
          display: flex;
          height: 40px;
          width: auto;
          min-width: 135px;
          justify-content: center;
          align-items: center;
          background-color: color.$green-logo-dark;
          text-align: center;
          padding: 0 10px;
  
          &:hover {
            background-color: darken(color.$green-logo-dark, 10%);
          }
  
          a {
            color: color.$whiteish;
            background: transparent;
            margin: 0;
            padding: 0;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .cheeseburger-menu__side-trigger {
    align-items: flex-end;
    padding-right: 30px;

    svg {
      width: 30px;
      height: 30px;
      margin: unset;
    }
  }

  li {
    padding-left: 0px;

    a {
      justify-content: flex-start;
      min-width: unset;
      max-width: unset;
    }
  }
}

// EU Cookie Complience

.sliding-popup-bottom {
  width: 100%;
}

.eu-cookie-compliance-banner {
  background-color: color.$midnight-black;
  color: color.$whiteish;

  .eu-cookie-compliance-content {
    display: flex;
    align-items: center;
    
    .eu-cookie-compliance-message {

    }
    
    .eu-cookie-compliance-buttons{

    }
  }
}
