// Default variables

@use './color';

// Borders

$border-radius: 3px;

// Fonts

$font-color-dark: color.$midnight-black;
$font-color-white: color.$white;
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 16px;
$font-weight: 400;

// Sizes
$size-1: 3px;
$size-2: 5px;
$size-3: 10px;
$size-4: 20px;
$size-5: 30px;
$size-6: 40px;
$size-7: 60px;
$size-8: 80px;
$size-9: 100px;
$size-10: 150px;

// Center width
$center-width: 1400px;

// Responsive
$center-breakpoint: $center-width + ($size-4 * 2);