// Default variables

@use './color';

// Borders

$border-radius: 3px;

// Fonts

$font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Domine', 'Open Sans', sans-serif;
$font-size: 16px;
$font-weight: 400;
$font-color-dark: color.$midnight-black;
$font-color-light: color.$whiteish;

// Sizes

$size-1: 3px;
$size-2: 5px;
$size-3: 10px;
$size-4: 20px;
$size-5: 30px;
$size-6: 40px;
$size-7: 60px;
$size-8: 80px;
$size-9: 100px;
$size-10: 150px;

// Center width

$center-width: 1400px;
$center-small-width: 920px;

// Responsive

$center-breakpoint: $center-width + ($size-4 * 2);
$center-small-breakpoint: $center-small-width + ($size-4 * 2);